.adminPostCommentsContainer{
    height: fit-content;
    background-color: #2C353D;
    padding: 20px 15px;
    width: 930px;
    border-radius: 14px;
}

.adminPostCommentContainer{
    height: fit-content;
    background-color: #1E1F20;
    padding: 20px 15px;
    width: 900px;
    border-radius: 14px;
    margin-bottom: 20px;
}

.adminPostCommentAvatarContainer{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
}

.adminPostCommentName{
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 600;
}

.adminPostCommentNickName{
    color: #B5A8A8;
    font-size: 13px;
    font-weight: 600;
}

.adminPostCommentInfoContainer{
    height: fit-content;
    background-color: #2C353D;
    padding: 20px 15px;
    width: 870px;
    border-radius: 14px;
    margin-bottom: 15px;
}

.adminPostCommentInfoText{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}

.adminPostCommentDetailsContainer{
    display: flex;
    justify-content: space-between;
}

.adminPostCommentDetailsText{
    color: #B5A8A8;
    font-size: 16px;
    font-weight: 600;
}

.adminPostCommentDetailsReplyText{
    color: #B5A8A8;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
}

.adminPostCommentDetailsIcon{
    fill: #B5A8A8;
}

.adminPostUnderCommentContainer{
    display: flex;
}