.adminPostCastContainer{
    height: fit-content;
    background-color: #2C353D;
    padding: 25px;
    width: 910px;
    border-radius: 14px;
    margin-bottom: 50px;
}

.adminPostCastDirectorText{
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 16px;
}

.adminPostCastDirectorContainer{
    height: fit-content;
    background-color: #1E1F20;
    border-radius: 14px;
    width: 275px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 26px;
}

.adminPostCastDirectorName{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
}

.adminPostCastDirectorSubName{
    color: #B5A8A8;
    font-size: 16px;
    font-weight: 600;
}

.adminPostCastActorText{
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 16px;
}

.adminPostCastActorEl{
    height: fit-content;
    background-color: #1E1F20;
    border-radius: 14px;
    width: 275px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 26px;
}

.adminPostCastActorName{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
}

.adminPostCastActorSubName{
    color: #B5A8A8;
    font-size: 16px;
    font-weight: 600;
}

.adminPostCastActorContainer{
    display: flex;
    gap: 20px;
}

.adminPostCastButton{
    width: 160px;
    height: 48px;
    text-align: center;
    background-color: #1E1F20;
    border-radius: 26px;
    border: none;
    color: #C5D0E6;
    font-size: 18px;
    font-weight: 600;
    margin-left: 355px;
}