.groupPostContainer{
    padding: 21px;
    background-color: #1E1F20;
    width: 95%;
    border-radius: 14px;
    margin-bottom: 12px;
}

.groupPostTitleContainer{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.groupPostTitleText{
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.groupPostTextContainer{
    width: 95%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    padding: 15px;
    background-color: #2C353D;
    color: #858EAD;
    font-size: 17px;
    margin-bottom: 20px;
}

.groupPostActionsContainer{
    display: flex;
    align-items: center;
    gap: 12px;
}

.groupPostActions{
    padding: 5px;
    background-color: #2C353D;
    border-radius: 7px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.groupPostActionsText{
    color: #EFEFEF;
    font-size: 16px;
    font-weight: 700;
}

@media (max-width: 767px) {
    .groupPostContainer {
        padding: 12px;
    }

    .groupPostTitleContainer {
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .groupPostActionsContainer {
        flex-direction: row;
        align-items: flex-start;
    }

    .groupPostActions {
        margin-bottom: 10px;
    }
}


@media (max-width: 440px) {
    .groupPostContainer {
        padding: 8px;
        width: 90%;
        margin-left: 10px;
    }

    .groupPostTitleContainer {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 8px;
        font-size: 14px;
    }

    .groupPostTitleText {
        font-size: 14px;
        margin-right: 80px;
        margin-top: 5px;
    }

    .groupPostTitleImg{
        height: 30px;
        width: 30px;
    }

    .groupPostActionsContainer {
        flex-direction: row;
        align-items: flex-start;
        font-size: 14px;
    }

    .groupPostActions {
        font-size: 16px;
        margin-bottom: 8px;
        width: 70px;
    }

    .groupPostActionsSave{
        width: 33px;
        background-color: #2C353D;
        border-radius: 20%;
        height: 30px;
    }

    .groupPostActionsIconSave{
        margin-top: 6px;
        height: 16px;
        width: 16px;
        margin-left: 8px;
    }

    .groupPostActionsText{
        font-size: 12px;
    }

    .groupPostTextContainer{
        width: 90%;
        font-size: 12px;
    }

    .groupPostActionsIcon{
        width: 20px;
        height: 20px;
    }

}