.pinnedGroupContainer{
    width: 228px;
    padding: 26px;
    display: flex;
    flex-direction: column;
    background-color: #1E1F20;
    border-radius: 21px;
    cursor: pointer;
}

.pinnedGroupTitle{
    font-size: 21px;
    color: #FFFFFF;
    font-weight: 600;
}

.pinnedGroupTitleContainer{
    display: flex;
    align-items: baseline;
    gap: 9px;
    margin-bottom: 20px;
}

.addGroupBtn{
    width: 100%;
    height: 42px;
    border: none;
    background-color: #FF4155;
    border-radius: 14px;
    color: #F7F7F7;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-bottom: 20px;
}
