.NavBarContainer {
    display: flex;
    background-color: #1E1F20;
    height: 81px;
    padding: 0 26px;
    align-items: center;
    justify-content: space-between;
}

.NavBarLogo {
    color: #FF4155;
    font-size: 34px;
    font-weight: bold;
    margin-left: 64px;
}

.NavBarIconsListOne {
    display: flex;
    align-items: center;
    gap: 26px;
    margin-right: 26px;
    cursor: pointer;
}

.NavBarIconsListTwo {
    display: flex;
    align-items: center;
    gap: 26px;
    margin-right: 26px;
    cursor: pointer;
}

.NavBarIconEl {
    width: 53px;
    height: 53px;
    background-color: #262D34;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    transition: background-color 0.3s ease;
}

.NavBarIconEl:hover {
    background-color: #FF4155;
}

.NavBarInputContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    /*width: 100%;*/
    /*max-width: 532px;*/
    width: 532px;
    height: 33px;
    padding: 12px 26px;
    background-color: rgb(44, 53, 61);
    color: rgb(44, 53, 61);
    border-radius: 10px;
    border: none;
    margin-right: 50px;
    margin-left: 25px;
    font-size: 22px;
    font-family: "Source Sans 3", sans-serif;
}

.NavBarInput {
    flex: 1;
    padding: 12px;
    background-color: rgb(44, 53, 61);
    color: #97989D;
    border-radius: 10px;
    border: none;
    font-size: 22px;
    font-family: "Source Sans 3", sans-serif;
}

.NavBarInput:active,
.NavBarInput:hover,
.NavBarInput:focus {
    outline: 0;
}

.NavBarInput::placeholder {
    color: #858EAD;
    font-size: 20px;
    font-weight: 400;
    font-family: "Source Sans 3", sans-serif;
}

.NavBarInputIcon {
    flex-shrink: 0;
    cursor: pointer;
    fill: #97989D;
}

.NavBarSearchButton {
    background-color: transparent;
    border: none;
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.NavBarSearchButton:hover {
    transform: scale(1.5);
}

.NavBarUserProfileContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
}


.rotateArrow {
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.rotateArrowOpen {
    transform: rotate(180deg);
    cursor: pointer;
}

.NavBarUserImageContainer {
    width: 45px;
    height: 45px;
    background-color: #F9DFC0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;
}

.NavBarName {
    color: #FFF;
    font-size: 21px;
    font-weight: bold;
    margin-right: 20px;
}


.NavBarFlipWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}


.NavBarFlipContainer {
    position: absolute;
    width: 248px;
    padding: 16px;
    border-radius: 11px;
    background-color: #1E1F20;
    top: 100px;
    right: 37px;
    z-index: 1000;
}


.NavBarFlipLink {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 18px;
}

.NavBarFlipTextContainer {
    display: flex;
    flex-direction: column;
}

.NavBarFlipText {
    color: #E4E3E3;
    font-size: 16px;
    font-weight: 600;
}

.NavBarFlipNickName {
    color: #97989D;
    font-size: 13px;
    cursor: pointer;
}

.NavBarFlipIcon {
    fill: #E4E3E3;
    margin-left: 6px;
    margin-right: 18px;
}

.NavBarFlipIconContainer {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
    cursor: pointer;
}

.NavBarFlipIconText {
    color: #E4E3E3;
    font-size: 14px;
    font-weight: 600;
    margin-right: 26px;
}

.NavChangeThemeSwitcher {
    width: 58px;
    height: 31px;
    border-radius: 32px;
    background-color: #2C353D;
}

.NavChangeThemeCircle {
    background-color: #E4E3E3;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 28px;
}


.NavBarFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: #1f1f1f;
    width: 95%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.footerMenu {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.NavBarFooterIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 35px;
    width: 35px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.NavBarFooterIcon:hover {
    transform: scale(1.5);
}

#iconProfile{
    transition: transform 0.3s ease;
}

#iconProfile:hover {
    transform: scale(3.5);
}

@media (min-width: 769px) {
    .NavBarFooter {
        display: none;
    }
}

@media (max-width: 767px) {
    .NavBarContainer {
        flex-direction: row;
        justify-content: center;
        padding: 10px 15px;
        height: auto;
        width: 100%;
        border-radius: 15px;
    }

    .NavBarLogo {
        font-size: 28px;
        margin-left: 0;
    }

    .NavBarIconsList {
        gap: 15px;
    }

    .NavBarIconEl {
        gap: 15px;
    }

    .NavBarInputContainer {
        width: 80%;
    }

    .NavBarInput {
        font-size: 18px;
    }

    .NavBarInputIcon {
        cursor: pointer;
    }

    .NavBarIconsListOne, .NavBarUserProfileContainer{
        display: none;
    }
}

@media (max-width: 440px) {
    .NavBarContainer {
        width: 70%;
        max-width: 100%;
        overflow-x: hidden;
    }

    .NavBarLogo {
        font-size: 20px;
        margin-left: 10px;
        display: block;
    }

    .NavBarInputContainer {
        width: calc(100% - 40px);
        height: 30px;
        padding: 0;
        background-color: transparent;
        margin-right: 10px;
    }

    .NavBarInput {
        width: 100%;
        padding: 8px;
        font-size: 16px;
        background-color: transparent;
    }

    .NavBarInput::placeholder {
        color: transparent;
    }

    .NavBarSearchButton {
        padding: 8px;
    }

    .NavBarIconsListTwo {
        display: flex;
        gap: 10px;
        margin-left: 0;
        margin-right: 0;
    }

    .NavBarIconEl {
        width: 40px;
        height: 40px;
    }

    .NavBarMobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .NavBarFooter {
        padding: 15px 25px;
        gap: 5px;
        width: 61%;
    }

    .NavBarFooterIcon {
        height: 30px;
        width: 30px;
    }

    .NavBarFooterIcon svg {
        width: 30px;
        height: 30px;
    }

    .navBarDropMenu{
        transform: translateY(60%) translateX(-20%);
    }

}




















