.NavBarContainer{
    display: flex;
    background-color: #1E1F20;
    height: 81px;
    padding: 0 26px;
    align-items: center;
}

.NavBarLogo{
    color: #FF4155;
    font-size: 34px;
    font-weight: bold;
    margin-left: 64px;
    margin-right: 318px;
}

.NavBarIconsList{
    display: flex;
    align-items: center;
    gap: 26px;
    margin-right: 26px;
}

.NavBarIconEl{
    width: 53px;
    height: 53px;
    background-color: #262D34;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
}

.NavBarIconEl:hover{
    background-color: #FF4155;
}

.NavBarInput{
    width: 532px;
    height: 30px;
    padding: 12px 26px;
    background-color: #2C353D;
    border-radius: 10px;
    border: none;
    margin-right: 292px;
}

.NavBarInput:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.NavBarInput::placeholder{
    color: #858EAD;
    font-size: 18px;
    font-weight: 400;
}

.NavBarInputContainer{
    display: flex;
    position: relative;
}

.NavBarInputIcon{
    position: absolute;
    left: 532px;
    top: 12px;
}

.NavBarUserProfileContainer{
    display: flex;
    align-items: center;
}

.NavBarUserImageContainer{
    width: 45px;
    height: 45px;
    background-color: #F9DFC0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.NavBarName{
    color: #FFF;
    font-size: 21px;
    font-weight: bold;
    margin-right: 20px;
}