.AutuFillPostOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.AutuFillPostContent {
    background: #1E1F20;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.AutuFillPostButtons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.AutuFillPostButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #2c353d;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.AutuFillPostButton:hover {
    background-color: #FF4155;
}

.AutuFillPostTitle{
    color: #F4F6F8;
}

.AutuFillPostInput{
    border: none;
    outline: none;
    padding: 0 11px;
    background: #2c353d;
    border-radius: 6px;
    color: #C5D0E6;
    font-size: 13px;
    width: 160px;
    height: 43px;
}