.messengerChatExitIcon{
    transform: rotate(180deg);
    margin-right: 16px;
}

.messengerChatHeader{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    cursor: pointer;
}

.messengerChatUserName{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    margin-left: 9px;
}

.messengerChatUserActivity{
    font-size: 13px;
    color: #C5D0E6;
    font-weight: 600;
    margin-left: 9px;
}

.messengerChatContainer{
    background-color: #2C353D;
    border-radius: 14px;
    width: 345px;
    height: 374px;
    display: flex;
    align-items: end;
    padding: 0 8px 25px 0;
    position: relative;
}

.messengerChatWrapper{
    display: flex;
    gap: 9px;
    align-items: end;
    margin-bottom: 14px;
}

.messengerChatScroll{
    height: 348px;
    width: 15px;
    background-color: #2C353D;
    border-radius: 31px;
    display: flex;
    justify-content: center;
    padding: 13px 0;
    align-items: end;
}

.messengerChatScrollPointer{
    height: 100px;
    width: 9px;
    background-color: #1E1F20;
    border-radius: 31px;
}

.messengerChatMessageLeftContainer{
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    gap: 5px;
    position: absolute;
    right: 120px;
}

.messengerChatMessageContainer{
    width: 165px;
    height: 34px;
    background-color: #1E1F20;
    border-radius: 16px;
}

.messengerChatMessageTime{
    color: #fff;
    font-size: 10px;
    font-weight: 600;
}

.messengerChatMessageRightContainer{
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    left: 120px;
}

.messengerChatFooter{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
    background-color: #2C353D;
    border-radius: 14px;
    width: 332px;
    height: 36px;
}

.messengerChatInput{
    border: none;
    outline: none;
    background-color: #1E1F20;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    width: 246px;
    height: 36px;
    border-radius: 16px;
    padding: 0 8px;
}

.messengerChatSendIcon{
    background-color: #FF4155;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 15px;
    cursor: pointer;
}
@media (max-width: 440px) {

    .messengerChatHeader {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 8px;
        margin-right: 90px;
    }

    .messengerChatHeader img {
        height: 30px;
        width: 32px;

    }

    .messengerChatUserName {
        font-size: 16px;
        margin-left: 8px;
    }

    .messengerChatUserActivity {
        display: flex;
        font-size: 10px;
        margin-left: 8px;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
    }

    .messengerChatWrapper{
        height: 250px;
        width: 270px;
        /*background-color: red;*/
        margin-bottom: 10px;
    }

    .messengerChatContainer{
        height: 220px;
        /*width: 270px;*/
        margin-top: 50px;
    }
    .messengerChatMessageLeftContainer{
        width: 100px;
        margin-right: 20px;
    }

    .messengerChatMessageRightContainer{
        margin-left: 25px;
    }

    .messengerChatMessageTime{
        font-size: 9px;
    }

    .messengerChatMessageLeftContainer img,
    .messengerChatMessageRightContainer img
    {
        height: 20px;
        width: 20px;
    }

    .messengerChatMessageContainer{
        height: 20px;
        width: 40px;
    }

    .messengerChatScroll{
        height: 220px;
        width: 10px;
        margin-right: 5px;
    }

    .messengerChatScrollPointer{
        height: 70px;
    }

    .messengerChatFooter{
        width: 230px;
        height: 25px;
        border-radius: 10px;
        padding: 5px 10px;
    }

    .messengerChatFooter svg {
        height: 15px;
        width: 15px;
    }

    .messengerChatInput{
        width: 160px;
        height: 25px;
        margin-left: -5px;
    }

    .messengerChatSendIcon{
        height: 25px;
        width: 25px;
        border-radius: 10px;
    }
}

