.messengerContainer{
    background-color: #1E1F20;
    padding: 12px 0 12px 12px;
}

.messengerWrapper{
    position: absolute;
    padding: 12px 12px 12px 12px;
    border-radius: 16px;
    background-color: #1E1F20;
    top: 100px;
    right: 37px;
    z-index: 1000;
}

.messengerTitleContainer{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
}

.messengerTitle{
    font-size: 26px;
    font-weight: 600;
    color: #FFF;

}

.messengerCloseIcon{
    fill: #FFF;
    cursor: pointer;
}

.messengerUserContainer{
    display: flex;
    background-color: #2C353D;
    padding: 10px;
    width: 320px;
    align-items: center;
    height: 50px;
    border-radius: 14px;
    margin-bottom: 18px;
    cursor: pointer;
}

.messengerUserDataContainer{
    margin-left: 12px;
}

.messengerUserData{
    display: flex;
    justify-content: space-between;
}

.messengerUserName{
    font-size: 20px;
    font-weight: 600;
    color: #FFF;
}

.messengerUserTime{
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
}

.messengerUserText{
    font-size: 13px;
    color: #C5D0E6;
    font-weight: 600;
}

.chatListContainer{
    display: flex;
    gap: 12px;
}

.messengerScroll{
    height: 387px;
    width: 15px;
    background-color: #2C353D;
    border-radius: 31px;
    display: flex;
    justify-content: center;
    padding: 13px 0;
}

.messengerScrollPointer{
    height: 100px;
    width: 9px;
    background-color: #1E1F20;
    border-radius: 31px;
}

@media (max-width: 440px) {
    .messengerWrapper {
        width: 60%;
        max-width: none;
        top: 0;
        right: 0;
        border-radius: 10px;
        height: 75px;
        transform: translateX(-40%) translateY(70%);


    }

    .messengerContainer {
        padding: 10px;
        width: 102%;
        border-radius: 10px;
        transform: translateX(-5%) translateY(-4%);


    }

    .messengerTitleContainer {
        flex-direction: row;
        justify-content: space-between;
    }

    .messengerTitle {
        font-size: 16px;
    }

    .messengerCloseIcon {
        width: 18px;
        height: 18px;
    }

    .messengerUserContainer {
        height: auto;
        padding: 10px;
        width: 90%;
    }

    .messengerUserContainer img {
        height: 35px;
        width: 35px;
    }

    .messengerUserName {
        font-size: 14px;
    }

    .messengerUserTime {
        font-size: 12px;
    }

    .messengerUserText {
        font-size: 10px;
    }

    .messengerScroll {
        height: 200px;
        width: 8px;
    }

    .messengerScrollPointer {
        height: 60px;
        width: 5px;
    }
}